.btn {
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn.btn-xs {
  padding: 3px 10px;
}

.btn.btn-danger {
  background-color: #f88;
  color: #fff;
}

.btn.btn-primary {
  background-color: #12b;
  color: #fff;
}
